.header {
  margin-left: 10vw;
  margin-right: 10vw;
}

.header-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.header-row-left {
  margin-left: 0;
  margin-right: auto;
  text-transform: uppercase;
}

.header-row-left-flex {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.header-row-left-flex-img {
  border-right: 2px solid #ec008c;
}

.header-row-left-flex-p {
  margin-left: 5px;
  color: #4f2d7f;
}

.header-row-right {
  margin-left: auto;
  margin-right: 0;
}
.header-row-right-flex {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.header-row-right-flex-left-flex-flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-align: center;
}

.header-row-right-flex-left-flex {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.header-row-right-flex-left-flex-select {
  margin-right: 15px;
  color: #4f2d7f;
  border: none;
  border-right: 1px solid lightgray;
}

.header-row-right-flex-left-flex-a {
  margin-top: 5px;
  margin-right: 15px;
  text-decoration: none;
  color: #4f2d7f;
}

.header-row-right-flex-left-flex-button {
  border-top: 1px solid lightgray;
}

.header-row-right-flex-left-flex-button-button {
  background-color: white;
  border: none;
  color: #4f2d7f;
  padding: 12px 16px;
  cursor: pointer;
}

.main-class {
  margin-left: 10vw;
  margin-right: 10vw;
}

.main-nav {
  padding: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.navbar-nav > .active > a {
  color: #ec008c;
}

.main-nav-button {
  color: #4f2d7f;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}

.main-nav-button-final {
  padding: 10px;
  border-right: 1px solid lightgray;
}

.main-nav-icon {
  color: #4f2d7f;
  margin-left: 10px;
  margin-right: 10px;
}

.main-signin {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-signin-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main-signin-size {
  width: 30vw;
  background-color: lightgray;
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.main-signin-size > div {
  flex: 40%;
}

.row:nth-child(even) {
  background: #ec008c;
}

.row {
  text-align: center;
  background-color: #4f2d7f;
  margin: 10px 10px 10px 10px;
}

.main-signin-button-div {
  text-align: center;
}

.main-signin-button {
  padding: 10px 30px 10px 30px;
  background-color: #ec008c;
  color: white;
  text-transform: uppercase;
  border: none;
}

.echo-success {
  color: #ec008c;
  margin-top: 30px;
}

.footer-class {
  margin-left: 10vw;
  margin-right: 10vw;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.footer-p {
  margin-left: auto;
  margin-right: 0;
  font-size: smaller;
}

.footer-a {
  margin-top: 10px;
  color: #4f2d7f;
}

.footer-a1 {
  margin-right: 5px;
  padding-right: 5px;
  font-size: smaller;
  text-decoration: none;
  border-right: 1px solid #4f2d7f;
}

.footer-a-last {
  font-size: smaller;
  text-decoration: none;
}

.list-item {
  margin: 5px;
  padding-right: 5px;
}
